{
  "extends": [
    "onny"
  ],
  "env": {
    "mocha": true
  },
  "plugins": [
    "chai-expect",
    "chai-friendly"
  ],
  "rules":{
    "prefer-rest-params": 0,
    "prefer-arrow-callback": 0,
    "no-var": 0,
    "func-names": 0
  }
}
