{
  "license": [
    "Copyright (C) 2015-2016 9Fifty-Seven - All Rights Reserved",
    "This file is part of book-react-redux and is the sole property of its owner.",
    "Unauthorized use of this file, via any medium or form, whole or in part, is strictly prohibited without the expressed written permission of 9Fifty-Seven and/or Isaac Marotte",
    "This file is proprietary and confidential"
  ],
  "extends": [
    "onny"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}